* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    cursor: pointer;
}

.nav {
    padding: 10px;
    box-shadow: 0px 3px 12px lightgray;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    border-bottom: 15px;
}
.nav-img {
    max-width: 25%;
}
.nav-logo {
   max-width: 100%;
}
.nav-link {
    border: 1px solid dimgrey;
    border-radius: 35px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration-line: none;
}
.nav-link:hover {
    background-color: rgba(95, 238, 231, 0.788);
    box-shadow: 0px 0px 15px lightgray;
}
.login-link {
    font-weight: bolder;
}


#login-form, #signUp-form, #forgot-form {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    right: 50%;
    margin: auto;
    width: 1000px;
    height: 100%;
    align-content: center;
    background-color: rgba(0,0,0,0.4);
}
.close:hover {
    cursor: pointer;
}

#slider {
    display: block; 
    width: 858px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#slider img {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 10%;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 10%;
}
.prev:hover, .next:hover {
    background-color: lightgrey;
}

#content {
    display: block;
    height: 100%;
    margin-top: 100px;
    margin: 15px;
}

#about {
    display: block;
    height: 300px;
}
.about-text {
    text-align: center;
    width: 500px;
    position: absolute;
    right: 30px;
}

#valores {
    display: block;
    height: 200px;
    background-color: rgb(238, 219, 165);
}
.valores-text {
    margin-top: 75px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: 30px;
}

#instituicoes {
    margin-top: 100px;
    text-align: center;
}
#inst-logos {
    grid: 2px;
    grid-template-columns: max-content;

}
.inst-img {
    width: 100px;
}

#depoimentos {
    margin-top: 100px;
    text-align: center;
    background-color: rgba(84, 174, 247, 0.836);
}

#inscricao {
    margin-top: 50px;
    text-align: center;
}